# Import Library

In [364]:
#import library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Read Data

In [365]:
#set path where your dataset stored
path = './dataset/Movie_Dataset.csv'

In [366]:
# create variable named data
# read and set dataset to variable named data
data = pd.read_csv(path)

In [367]:
# show top 10 data
data.head(10)

,Unnamed: 0,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,International TV Shows,"After crossing paths at a party, a Cape Town t..."
2,2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,Crime TV Shows,To protect his family from a powerful drug lor...
3,3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,Docuseries,"Feuds, flirtations and toilet talk go down amo..."
4,4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,International TV Shows,In a city of coaching centers known to train I...
5,5,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",NaN,"September 24, 2021",2021,TV-MA,1 Season,TV Dramas,The arrival of a charismatic young priest brin...
6,6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,"September 24, 2021",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...
7,7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,Dramas,"On a photo shoot in Ghana, an American model s..."
8,8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021,TV-14,9 Seasons,British TV Shows,A talented batch of amateur bakers face off in...
9,9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,Comedies,A woman adjusting to life after a loss contend...

In [368]:
# show information related to dataset ( column name, data count, data type )
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    8807 non-null   int64
 1   show_id       8807 non-null   object
 2   type          8807 non-null   object
 3   title         8807 non-null   object
 4   director      6173 non-null   object
 5   cast          7982 non-null   object
 6   country       7976 non-null   object
 7   date_added    8797 non-null   object
 8   release_year  8807 non-null   int64
 9   rating        8803 non-null   object
 10  duration      8804 non-null   object
 11  listed_in     8807 non-null   object
 12  description   8807 non-null   object
dtypes: int64(2), object(11)
memory usage: 894.6+ KB

# EDA

In [369]:
# show duplicated data
data.duplicated().sum()

0

In [370]:
# create function named data_check to check several info
def data_check(data):
    missing = data.isna().sum()
    per_mis = 100*(missing/len(data))
    data_type = data.dtypes
    number_unique = data.nunique()
    return pd.DataFrame({"Missing" : missing,
                        "Percent_Missing" : per_mis,
                        "data_type": data_type,
                        "number_unique" : number_unique})

In [371]:
# call function data_check
data_check(data)

              Missing  Percent_Missing data_type  number_unique
Unnamed: 0          0         0.000000     int64           8807
show_id             0         0.000000    object           8807
type                0         0.000000    object              2
title               0         0.000000    object           8807
director         2634        29.908028    object           4528
cast              825         9.367549    object           7692
country           831         9.435676    object            748
date_added         10         0.113546    object           1767
release_year        0         0.000000     int64             74
rating              4         0.045418    object             17
duration            3         0.034064    object            220
listed_in           0         0.000000    object             36
description         0         0.000000    object           8775

In [372]:
# create function named handling_dir to handling missing value on column director
def handling_dir(x):
    if pd.isna(x):
        x = 'Unknown'
    else:
        x = x
    return x

In [373]:
# call function handling_dir and set result to data.director
data['director'] = data['director'].apply(handling_dir)

In [374]:
# show data that has missing value on column duration
# and found out that duration stored on wrong column ( in this case duration stored on rating column )
data[data.duration.isna()]

,Unnamed: 0,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5541,5541,s5542,Movie,Louis C.K. 2017,Louis C.K.,Louis C.K.,United States,"April 4, 2017",2017,74 min,NaN,Movies,"Louis C.K. muses on religion, eternal love, gi..."
5794,5794,s5795,Movie,Louis C.K.: Hilarious,Louis C.K.,Louis C.K.,United States,"September 16, 2016",2010,84 min,NaN,Movies,Emmy-winning comedy writer Louis C.K. brings h...
5813,5813,s5814,Movie,Louis C.K.: Live at the Comedy Store,Louis C.K.,Louis C.K.,United States,"August 15, 2016",2015,66 min,NaN,Movies,The comic puts his trademark hilarious/thought...

In [375]:
# create function to handling column rating that contain duration, then set to each column
data['duration'] = np.where(data['rating'].str.contains('min',case=False, na=False), data['rating'], data['duration'])
data['rating'] = np.where(data['rating'].str.contains('min',case=False, na=False), np.nan, data['rating'])

In [376]:
# ensure column rating, duration on index 5541 has correct value
data[['rating','duration']].iloc[5541]

rating         NaN
duration    74 min
Name: 5541, dtype: object

In [377]:
# show value count of column rating
data.rating.value_counts()

TV-MA       3207
TV-14       2160
TV-PG        863
R            799
PG-13        490
TV-Y7        334
TV-Y         307
PG           287
TV-G         220
NR            80
G             41
TV-Y7-FV       6
NC-17          3
UR             3
Name: rating, dtype: int64

In [378]:
# create function to handling missing value on rating
def handling_rate(x):
    if pd.isna(x):
        x = 'TV-MA'
    else:
        x = x
    return x

In [379]:
# call function handling_rating and set result to data.rating
data['rating'] = data['rating'].apply(handling_rate)

In [380]:
data[data['date_added'].isna()]

,Unnamed: 0,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
6066,6066,s6067,TV Show,A Young Doctor's Notebook and Other Stories,Unknown,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,British TV Shows,"Set during the Russian Revolution, this comic ..."
6174,6174,s6175,TV Show,Anthony Bourdain: Parts Unknown,Unknown,Anthony Bourdain,United States,NaN,2018,TV-PG,5 Seasons,Docuseries,This CNN original series has chef Anthony Bour...
6795,6795,s6796,TV Show,Frasier,Unknown,"Kelsey Grammer, Jane Leeves, David Hyde Pierce...",United States,NaN,2003,TV-PG,11 Seasons,Classic & Cult TV,Frasier Crane is a snooty but lovable Seattle ...
6806,6806,s6807,TV Show,Friends,Unknown,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,Classic & Cult TV,This hit sitcom follows the merry misadventure...
6901,6901,s6902,TV Show,Gunslinger Girl,Unknown,"Yuuka Nanri, Kanako Mitsuhashi, Eri Sendai, Am...",Japan,NaN,2008,TV-14,2 Seasons,Anime Series,"On the surface, the Social Welfare Agency appe..."
7196,7196,s7197,TV Show,Kikoriki,Unknown,Igor Dmitriev,NaN,NaN,2010,TV-Y,2 Seasons,Kids' TV,A wacky rabbit and his gang of animal pals hav...
7254,7254,s7255,TV Show,La Familia P. Luche,Unknown,"Eugenio Derbez, Consuelo Duval, Luis Manuel Áv...",United States,NaN,2012,TV-14,3 Seasons,International TV Shows,"This irreverent sitcom featues Ludovico, Feder..."
7406,7406,s7407,TV Show,Maron,Unknown,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews..."
7847,7847,s7848,TV Show,Red vs. Blue,Unknown,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,TV Action & Adventure,"This parody of first-person shooter games, mil..."
8182,8182,s8183,TV Show,The Adventures of Figaro Pho,Unknown,"Luke Jurevicius, Craig Behenna, Charlotte Haml...",Australia,NaN,2015,TV-Y7,2 Seasons,Kids' TV,"Imagine your worst fears, then multiply them: ..."

In [381]:
data.date_added.unique()

array(['September 25, 2021', 'September 24, 2021', 'September 23, 2021',
       ..., 'December 6, 2018', 'March 9, 2016', 'January 11, 2020'],
      dtype=object)

In [382]:
data['date_added'] = pd.to_datetime(data['date_added'])

In [383]:
# create function to handling missing value on date added
bulan = 'Januari'
tanggal = '01'

def handling_date(row):
    x = row['date_added']
    y = row['release_year']
    if pd.isna(x):
        x = (f"{bulan} {tanggal}, {y}")
    return x

In [384]:
# create function to handling missing value on release date column
data['date_added'] = data.apply(handling_date, axis=1)

In [385]:
# ensure function works well and missing value has been filled
data[['date_added','release_year']].iloc[6066]

date_added      Januari 01, 2013
release_year                2013
Name: 6066, dtype: object

In [386]:
# check data on index 6066 ( this data has missing value on release_year column before handling_date running )
data.iloc[6066]

Unnamed: 0                                                   6066
show_id                                                     s6067
type                                                      TV Show
title                 A Young Doctor's Notebook and Other Stories
director                                                  Unknown
cast            Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...
country                                            United Kingdom
date_added                                       Januari 01, 2013
release_year                                                 2013
rating                                                      TV-MA
duration                                                2 Seasons
listed_in                                        British TV Shows
description     Set during the Russian Revolution, this comic ...
Name: 6066, dtype: object

In [387]:
# create function named handling_cast to handling missing value on column cast
def handling_cast(x):
    if pd.isna(x):
        x = 'Unknown'
    else:
        x = x
    return x

In [388]:
# call function handling_cast and set result to data.cast
data['cast'] = data['cast'].apply(handling_cast)

In [389]:
# create function named handling_country to handling missing value on column country
def handling_country(x):
    if pd.isna(x):
        x = 'Unknown'
    else:
        x = x
    return x

In [390]:
# call function handling_cast and set result to data.cast
data['country'] = data['country'].apply(handling_country)

In [391]:
# show unique value on listed_in column
data.listed_in.unique()

array(['Documentaries', 'International TV Shows', 'Crime TV Shows',
       'Docuseries', 'TV Dramas', 'Children & Family Movies', 'Dramas',
       'British TV Shows', 'Comedies', 'TV Comedies', 'Thrillers',
       'Horror Movies', "Kids' TV", 'Action & Adventure', 'Reality TV',
       'Anime Series', 'International Movies', 'Sci-Fi & Fantasy',
       'Classic Movies', 'TV Shows', 'Stand-Up Comedy',
       'TV Action & Adventure', 'Movies', 'Stand-Up Comedy & Talk Shows',
       'Classic & Cult TV', 'Anime Features', 'Romantic TV Shows',
       'Cult Movies', 'Independent Movies', 'TV Horror',
       'Spanish-Language TV Shows', 'Music & Musicals', 'Romantic Movies',
       'LGBTQ Movies', 'TV Sci-Fi & Fantasy', 'Sports Movies'],
      dtype=object)

In [392]:
# show top 10 data
data.head(10)

,Unnamed: 0,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,Unknown,United States,2021-09-25 00:00:00,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,1,s2,TV Show,Blood & Water,Unknown,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24 00:00:00,2021,TV-MA,2 Seasons,International TV Shows,"After crossing paths at a party, a Cape Town t..."
2,2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",Unknown,2021-09-24 00:00:00,2021,TV-MA,1 Season,Crime TV Shows,To protect his family from a powerful drug lor...
3,3,s4,TV Show,Jailbirds New Orleans,Unknown,Unknown,Unknown,2021-09-24 00:00:00,2021,TV-MA,1 Season,Docuseries,"Feuds, flirtations and toilet talk go down amo..."
4,4,s5,TV Show,Kota Factory,Unknown,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24 00:00:00,2021,TV-MA,2 Seasons,International TV Shows,In a city of coaching centers known to train I...
5,5,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",Unknown,2021-09-24 00:00:00,2021,TV-MA,1 Season,TV Dramas,The arrival of a charismatic young priest brin...
6,6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",Unknown,2021-09-24 00:00:00,2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...
7,7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...",2021-09-24 00:00:00,1993,TV-MA,125 min,Dramas,"On a photo shoot in Ghana, an American model s..."
8,8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,2021-09-24 00:00:00,2021,TV-14,9 Seasons,British TV Shows,A talented batch of amateur bakers face off in...
9,9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,2021-09-24 00:00:00,2021,PG-13,104 min,Comedies,A woman adjusting to life after a loss contend...